/* Used for elements included on all pages like bg, basic body borders, navbar, etc...*/ 

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: white; /* Makes all text (and other things) white, override manually if needed */ 
    font-family: Arial;
}

body {
    background-color: black;
}

.btn {
    background-color: black;
}