.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Optional spacing */
}

.element-box {
    flex: 1 1 auto; /* Allows flexible sizing */
    min-width: 31.33% ; /* Ensures 3 per row */
    text-align: center;
    margin: 10px;
}

.albumInfo {
    position: absolute;
    top:0; right:0;
    margin: 2em; padding: 0.5em;
    width: 25vw;
    height: 100vh;
    background-color: rgb(59, 16, 87);
    height: 95vh !important;

    h2 {
        margin-top: 1em;
        text-align: center;
    }

    img {
        padding: 2em;
        border-radius: 3em;
        position: absolute;
        bottom:0; left:0;
        width: 100%;
        height: auto;
    }
}