/* lyrics.css */
.lyrics-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  width: 40em;
  height: 70vh;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s var(--ease);
  display: flex;
  flex-direction: column;
}

.lyrics-content {
  max-height: calc(70vh - 7em); /* Adjust based on your buttons height */
  flex: 1;
  overflow-y: auto;
  margin-bottom: 7em; /* Space for buttons */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--primary-color) rgba(0, 0, 0, 0.2); /* For Firefox */
}

/* Webkit scrollbar styling (Chrome, Safari, Edge) */
.lyrics-content::-webkit-scrollbar {
  width: 16px;
}

.lyrics-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.lyrics-content::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.lyrics-content::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  filter: brightness(1.2);
}

.lyrics-box p {
  margin-top: 1em;
  text-align: center;
  background-color: black;
  padding: 0.5em;
  border-radius: 5px;
  transition: background-color var(--transition-duration) var(--ease);
}

.lyrics-box p:hover {
  background-color: rgb(50, 50, 50);
}

.lyrics-box button {
  position: absolute;
  bottom: 0;
  margin: 1em;
  width: 10em;
  height: 5em;
  border: none;
  border-radius: 5px;
  transition: background-color var(--transition-duration) var(--ease);
}

.lyrics-box button:hover {
  background-color: var(--primary-color);
  animation: pulse var(--pulse-duration) var(--ease);
}

.close-button {
  left: 0;
}

.download-button {
  right:0 !important;
}