/* meta = the info boxes on pages */

.meta {
    padding: 0px 0px;
    width: 75%;
    border-radius: 14px;
    margin: auto;
    margin-top: 1em;
    line-height: 1.25;
    color: rgb(220, 220, 230);
    text-align: center;}

    .meta * {
        padding-top:0em;
        margin:0;
    }
    
    .meta h3 {padding-top: 0.8em;}
    .meta p {padding-bottom: 1em; padding-top: 0.3em;}


/* BOXES DOWN HERE */

.box4 {
    border-inline: 4px solid rgb(255, 160, 30);
    background: radial-gradient(ellipse at 40% 70%, rgba(0, 0, 0, 0.26) 35%, rgb(255, 160, 71) 100%) -13px top / 150% 110%;
    box-shadow: rgb(246, 160, 0) 0px 0px 9px 0px
}

.error {
    border-inline: 4px solid rgb(255, 30, 30);
    background: radial-gradient(ellipse at 40% 70%, rgba(0, 0, 0, 0.26) 35%, rgb(255, 71, 71) 100%) -13px top / 150% 110%;
    box-shadow: rgb(246, 0, 0) 0px 0px 9px 0px
}

.helpers {
    border-inline: 4px solid rgb(30, 30, 255);
    background: radial-gradient(ellipse at 40% 70%, rgba(0, 0, 0, 0.26) 35%, rgb(71, 71, 255) 100%) -13px top / 150% 110%;
    box-shadow: rgb(0, 0, 255) 0px 0px 9px 0px
}

.wip {
    border-inline: 4px solid rgb(255, 199, 30);
    background: radial-gradient(ellipse at 40% 70%, rgba(0, 0, 0, 0.26) 35%, rgb(255, 224, 71) 100%) -13px top / 150% 110%;
    box-shadow: rgb(246, 209, 0) 0px 0px 9px 0px
}