.nav {
    position: fixed;
    top:0; left:0;
    width:100vw;
    background-color: var(--dark);
    border-bottom: var(--light) solid 2px;
    height:4em;
    line-height:4em;

    
}
a img {
    position: absolute;
    left: 0; top: 0;
    width: auto;
    height:calc(4em - 2px);
    background-color: blue;
    cursor: pointer;
    z-index: 1000000;
}

img.corner{
    border: 4px solid var(--dark);
    position: absolute;
    right:0;
    bottom:0;
    width: 20vw; height: auto;
}

.nav .button { margin: 0.4em;}