.wip {
    padding: 0px 0px;
    border-left: 4px solid rgb(255, 199, 30);
    border-right: 4px solid rgb(255, 199, 30);
    width: 75%;
    background: radial-gradient(at 40% 70%, rgba(0, 0, 0, 0.26) 35%, rgb(255, 236, 144) 100%) -13px top / 150% 110%;
    box-shadow: rgb(246, 209, 0) 0px 0px 9px 0px inset, rgba(255, 0, 36, 0.28) 0px 0px 6px 0px;
    border-radius: 14px;
    margin: auto;
    margin-top: 1em;
    line-height: 1.25;
    color: rgb(220, 220, 230);
    text-align: center;
}

.wip * {
    padding-top:0em;
    margin:0;
}

.wip h3 {padding-top: 0.8em;}
.wip p {padding-bottom: 1em; padding-top: 0.3em;}