RewriteEngine On

# Rewrite pages
RewriteRule ^home$ index.php [L]
RewriteRule ^lyrics$ lyrics.php [L]
RewriteRule ^daily-song$ dailySong.php [L]



# hide pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /pages/$1 [L]
